<h1>Servicios</h1>

<table>
  <tr>
  
    <th>Lugar</th>
    <th>Tipo de Servicio</th>
    <th>Tarifa:Precio</th>
    <th>Tarifa:Concepto</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

  
<% @services.each do |service| %>
  <tr>
    <td><%= service.place_id %></td>
    <td><%= service.svctype %></td>
    <td><%= service.svcprice %></td>
    <td><%= service.svcpriceconcept %></td>
    <td><%= service.svcdescription %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
