<p id="notice"><%= notice %></p>

<p>
  <b>Local:</b>
  <%= @service.place_id %>
</p>

<p>
  <b>Tipo de Servicio:</b>
  <%= @service.svctype %>
</p>

<p>
  <b>Tarifa de Servicio:</b>
  <%= @service.svcprice %>
</p>

<p>
  <b>Concepto de Servicio:</b>
  <%= @service.svcpriceconcept %>
</p>

<p>
  <b>Descripcion de Servicio:</b>
  <%= @service.svcdescription %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
