<h1>Listing people</h1>

<table>
  <tr>
    <th>Userty</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Doctype</th>
    <th>Docnumber</th>
    <th>Email</th>
    <th>Password</th>
    <th>Birthdate</th>
    <th>Cellphone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.userty %></td>
    <td><%= person.name %></td>
    <td><%= person.lastname %></td>
    <td><%= person.doctype %></td>
    <td><%= person.docnumber %></td>
    <td><%= person.email %></td>
    <td><%= person.password %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.cellphone %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
