<h1>Registrate</h1>

<table>
  <tr>
 
    <th>Tipo de Usuario</th>
	<th>Nombres</th>
    <th>Apellidos</th>
    <th>Tipo de Documento</th>
    <th>Nro. Documento</th>
    <th>Email</th>
    <th>Fec.Nacimiento</th>
    <th>Nro. Celular</th>
    <th></th>
    <th></th>
    <th></th>
	
  </tr>

<% @people.each do |person| %>
  <tr>
    
    <td><%= person.usertype %></td>
    <td><%= person.name %></td>
    <td><%= person.lastname %></td>
    <td><%= person.doctype %></td>
    <td><%= person.docnumber %></td>
    <td><%= person.email %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.cellphone %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
