<p id="notice"><%= notice %></p>

<p>
  <b>Usertype:</b>
  <%= @person.usertype %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastname %>
</p>

<p>
  <b>Doctype:</b>
  <%= @person.doctype %>
</p>

<p>
  <b>Docnumber:</b>
  <%= @person.docnumber %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Password:</b>
  <%= @person.password %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @person.birthdate %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @person.cellphone %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
