<p id="notice"><%= notice %></p>


<p>
  <b>Nombre del evento:</b>
  <%= @event.evname %>
</p>

<p>
  <b>Premio:</b>
  <%= @event.evprize %>
</p>

<p>
  <b>Número máximo de equipos:</b>
  <%= @event.evnummax %>
</p>

<p>
  <b>Fecha límite para inscripción:</b>
  <%= @event.evdeadline %>
</p>


<%= link_to 'Regresar', myevents_url %>
