<h1>Listing searches</h1>

<table>
  <tr>
    <th>District</th>
    <th>Attentionday</th>
    <th>Sincehour</th>
    <th>Tohour</th>
    <th>Other</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.district %></td>
    <td><%= search.attentionday %></td>
    <td><%= search.sincehour %></td>
    <td><%= search.tohour %></td>
    <td><%= search.other %></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
