
    <h1>Bienvenido a Tu Cancha!</h1></br>
    <p>Este portal ha sido diseñado para el intercambio de información de canchas de fulbito. </p>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
    <div class="news"><strong>Eventos</strong>	</div></br>
	
	<% @events.each  do |event| %>
	<h2><%= event.evname %></td></h2>

	<table>
		<tr>
			<td>             </td>
			<td><b>Local:</b></td>
			<td><%= event.place_id %></td>
		</tr>
		<tr>
			<td>   </td>
			<td><b>Premio:</b></td>
			<td><%= event.evprize %></td>
		</tr>
		<tr>
			<td>   </td>
			<td><b>Número máximo de equipos:</b></td>
			<td><%= event.evnummax %></td>
		</tr>
		<tr>
			<td>   </td>
			<td><b>Plazo para inscripción:</b></td>
			<td><%= event.evdeadline %></td>
		</tr>

	</table>
	</br>
 
<% end %>
    <div class="clear"></div>
