<p id="notice"><%= notice %></p>

<p>
  <b>Nombre descriptivo:</b>
  <%= @place.nameplace %>
</p>

<p>
  <b>Dirección:</b>
  <%= @place.address %>
</p>

<p>
  <b>Distrito:</b>
  <%= @place.district %>
</p>

<p>
  <b>Dirección en Google Maps:</b>
 <INPUT type="button" value="Ver en Google Maps!" onClick="window.open('<%= @place.gmaddress %>','mywindow','width=1024,height=768')"> 

</p>

<p>
  <b>Teléfono:</b>
  <%= @place.telephone %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
