<p id="notice"><%= notice %></p>

<p>
  <b>Nameplace:</b>
  <%= @place.nameplace %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>District:</b>
  <%= @place.district %>
</p>

<p>
  <b>Telephone:</b>
  <%= @place.telephone %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
