<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tu Cancha</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<b><%= stylesheet_link_tag "style" %></b> 
</head>

<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header">
    <h1>Tu Cancha</h10></h1>
	<% if session[:person_id] %>
	<h10>Hola <%= session[:person_name] %>!
	<% end %>

	</div>
  <!-- End Header -->
  <!-- Begin Navigation -->
  <div id="navtop">
    <ul>
		<% if not session[:person_id] %>
			<li><%= link_to_unless_current "Login", login_url %></li>
		<% else %>
			<li><%= link_to_unless_current "Logout", logout_url %></li>
		<% end %>
		<li><%= link_to_unless_current "Buscar Canchas", index_url %></li>

   </ul>
  </div>
  <!-- End Navigation -->
  <!-- Begin Left Column -->
  <div id="leftcolumn">
    <div id="navigation">
      <ul>
		<li><%= link_to "> Inicio", index_url %></li>
		<% if session[:person_id] %>
			<% if session[:person_usertype] == true %>
				<li><%= link_to "> Mis Locales", myplaces_url %></li>
				<li><%= link_to "> Mis Canchas", myfields_url %></li>
				<li><%= link_to "> Registrar servicios", myservices_url %></li>
				<li><%= link_to "> Listar alquileres", myrentals_url %></li>
				<li><%= link_to "> Registrar eventos", myrentals_url %></li>
			<% end %>
		<% end %>
      </ul>
    </div>
  </div>
  <!-- End Left Column -->
  <!-- Begin Right Column -->
  <div id="maincolumn">
		<%= yield %>

  
  
    <div class="clear"></div>
  </div>
  <!-- End Right Column -->
  <div class="clear"></div>
  <div id="footer"> &copy; Copyright 2012 by Tu Cancha Team | Design by <a href="http://www.wfiedler-online.de">wfiedler</a><br />
    Icons by IconArchive (Free for non-commercial use) </div>
</div>

</body>
</html>
